<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ "/" | absolute_url }}"><img src="{{"assets/img/logo.png" | relative_url}}" alt="Logo" /></a></h1>
            
            <p>{{ site.description }}</p>
            
            <p><a href="#rules">Rules</a> | <a href="#brews">Brews</a> | <a href="https://www.moxfield.com/users/uEDH">Moxfield</a></p>
        </header>

        <section>
            {{ content }}
        </section>
    </div>
    <footer>
        <small>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 1993-2023 Wizards. All Rights Reserved.</small>
        <br/><br/>
        <small>μEDH.net is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. μEDH.net may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy. MAGIC: THE GATHERING® is a trademark of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="https://company.wizards.com">https://company.wizards.com/</a>.</small>
    </footer>
</body>
</html>
    
